<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body style="text-align: center;">
  <h1>Create</h1>
  <form action="/pokemon" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" /><br />
    <label for="">Image</label>
    <input type="text" name="image" /><br />
    <label for="">Type:</label>
    <input type="text" name="type" /><br />
    <label for="">HP:</label>
    <input type="text" name="hp" /><br />
    <label for="">Attack:</label>
    <input type="text" name="attack" /><br />
    <label for="">Defense:</label>
    <input type="text" name="defense" /><br />
    <label for="">SPAttack</label>
    <input type="text" name="spattack" /><br />
    <label for="">SPDefense</label>
    <input type="text" name="spdefense" /><br />
    <label for="">Speed</label>
    <input type="text" name="speed" /><br />
    <input type="submit" />
  </form>
  <a href="/pokemon">Back to Pokedex</a>
</body>
</html>
